.icon-32-copy_f2 {
background-image:url(../images/copy_f2.png);
}
.icon-32-extensions {
background-image:url(../images/extensions.png);
}
.icon-32-properties_f2 {
background-image:url(../images/properties_f2.png);
}
.icon-32-wizard {
background-image:url(../images/wizard.png);
}
.icon-32-bKey {
background-image:url(../images/bkey.png);
}
.icon-32-transform {
background-image:url(../images/transform.png);
}
.icon-32-backup {
background-image:url(../images/backup.png);
}
.icon-32-dbrestore {
background-image:url(../images/dbrestore.png);
}